@using EmprestimoLivros.Dto
@model UsuarioRegisterDto



@if (TempData["MenssagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]

    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert-danger text-light" role="alert">
        @TempData["MenssagemErro"]

    </div>
}

<div class="container" div>
    <h1>Cadastro de Usuários</h1> 
    <form asp-action="Registrar" asp-controller="Login" method="post">
        <div class="mb-1">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" asp-for="Email">
        </div>

        <div class="mb-1">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome">
        </div>

        <div class="mb-1">
            <label for="sobrenome" class="form-label">Sobrenome:</label>
            <input type="text" class="form-control" id="sobrenome" asp-for="Sobrenome">
        </div>

        <div class="mb-1">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="senha" asp-for="Senha">
        </div>  

        <div class="mb-1">
            <label for="senha" class="form-label">Confirma Senha:</label>
            <input type="password" class="form-control" id="confirmarSenha" asp-for="ConfirmarSenha">
        </div>  



        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-25 mx-2">Cadastrar</button>
            <a asp-action="Index" asp-controller="Login" class="btn w-25">Voltar</a>
        </div>

    </form>




</div>