@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Empréstimos On-line</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div class="text-center">
        <img src="/img/Learning-bro.png" alt="" style="width: 500px;" />
    </div>
</div>
